:host {
    display: grid;
    grid-row-gap: 10px;
    justify-items: center;
}

#resultsList {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: 1fr 1fr;

    width: 800px;
}
