button{
    border:none;
    cursor:pointer;
    border-radius:4px;
    background-color: #fff;
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: #3d8af7;
}
button:hover {
    background-color: #3d8af7;
    color: #fff;
}
